<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>--- convenience ---.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>--- standalone ---.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Create system cache folders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KextUserAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>brtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>brtest_standalone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>embedded-host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>kcgen-embedded-host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>kcgen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>kclist-embedded-host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>kclist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>kctool-embedded-host copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>kctool-embedded-host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>kextcache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>kextd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>kextfind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>kextlibs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>kextload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>kextstat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>kextunload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>kextutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>libBootRoot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>logkextloadsd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>logsyswritesd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>logsyswritesd_create.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>mkextunpack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>osx_base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>osx_executables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05097255094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0509726C094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05097284094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050972B7094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050972C9094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050972DD094910D30034B52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05762ABF09D0B98500EC18C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8853F51331628200942EB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8853FF1331646A00942EB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE864451562DF40003DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE8644A1562DF5A003DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE864891562DFE3003DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE8648E1562E006003DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE864931562E010003DF7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10830D0E0F5DE85900937E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10830D120F5DE87100937E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10830D1F0F5DE94B00937E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24057CDB124966600023CEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24B79C9C125A63B8009FF51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C4E5770DD3EC7C00A70AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E1F0ED09EC4F9B00262C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F57F200F005C5D006111B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24FD2F580DC1218F0065A35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506B28D3127755310047F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506B2919127756AD0047F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CDEA031208FA4700571926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7224269C16716B5D00C8ECCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727E0F881652C63C00FC4746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D82256170F850200F16618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABDF688819A1FF590020AA4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
